@keyframes modalShowUp {
    0% {
        transform: scale(0); 
        opacity: 0;
    }
    50% {
        transform: scale(0); 
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}
  
@keyframes backgroundShowUp{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
} 

@keyframes modalButtonShowUp{
    0%{
        opacity: 0;
    }
    80%{
        transform:scale(5);
        opacity: 0;
    }
    81%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes glowBlue{
    0%{
        text-shadow: none;
    }
    50%{
        text-shadow: 0px 0px 2px var(--blue);
        color: var(--blue);
    }
    100%{
        text-shadow: none;
    }
}


:root{
    --main-1: #21D980;
    --main-2: #144237;
    --white: #FBFFFF;
    --grey: #D1E3E8;
    --blue: #57B3FF;
}

html{
    height: 100%;
}

img{
    max-width: 100%;
}

body{
    height: 100%;
    padding:0;
    margin:0;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--white);
    color: var(--main-2);
}

.hideNav{
    transform: translateY(-15rem);
}

.showNav{
    transform: translateY(0);
}

section{
    padding: 2rem;
}

section>h2{
    text-align: center;
    margin: 0;
}

header{
    position: fixed;   
    background-color: var(--main-1);
    color: var(--white);
    width: 100%;
    z-index: 9;
}

#hamburger-menu{
    position: absolute;
    margin: 1.6rem;
    top:0;
    right:0;
    color: var(--white);
    background-color: var(--main-1);
    border: 3px solid var(--white);
    padding: 0.3rem;
    border-radius: 0.5rem;
    z-index:10;
    transition: 0.3s;
    box-shadow: 2px 2px 6px 0px var(--main-2);
    text-shadow: 1px 1px  var(--main-2);
    transition: 0.5s;
}

#hamburger-menu:hover{
    cursor: pointer;
    text-shadow: 0px 0px 2px  var(--white);
}

#hamburger-menu>i{
    font-size: 1.5rem;
}

#hamburger-menu:active, #hamburger-menu:focus{
    outline: none;    
}

#hamburger-menu:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}

#brand{
    font-size: 3rem;
    padding: 1rem;
    text-shadow: 3px 3px 6px var(--main-2); 
    font-family: 'Libre Baskerville', serif; 
    background-color: var(--main-1);
    border-bottom: 3px solid var(--grey);
}

#brand-name{
    text-align: left;
}

#motto{
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px var(--main-2);
}

#top-nav{
    background-color: var(--blue);
    position: fixed;
    width: 100%;    
    z-index: -1;
    transition: transform 1s ease-out;
    padding: 0.5rem 0;
    border-bottom: 3px solid var(--grey);
    opacity: 0.95
}

#top-nav ul{
    margin: 0;
}

#top-nav li{
    display: block;
    text-align: left;
    padding: 0.5rem;
    text-shadow: 2px 2px 2px var(--main-2); 
}

nav a{
    color: var(--white);
    text-decoration: none;
    
}

nav a:hover{
    text-shadow: 0px 0px 2px  var(--white);
}

#section-frontyard-pic{
    background-image: url("../assets/house2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 20rem;
}

.img-container{
    text-align: center;
    width: 100%;
}

#img-area-map{
    border: 3px solid var(--grey);
    border-radius: 0.5rem;
    transition: 1s;
    width: 100%;
    margin: 1rem 0;
}

#img-area-map:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

.break-free{
    animation: glowBlue 5s ease-in-out infinite;
}

.more-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.more-info>button{
    margin: 1rem;    
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 3px 3px 9px 2px var( --main-2);
    width: 14rem;
    font-size: 1.1rem;
}

.more-info>button:hover{
    cursor: pointer;    
    transform: scale(1.05);
    text-shadow: 0px 0px 1px var(--white);
}

.more-info>button:focus{
    outline: none;
}

.more-info>button:active{
    transform: translate(2px, 2px);
    box-shadow: 0 0 3px 1px var(--main-2);
}

#section-calculator{
    background-color: var(--blue);
    color: var(--white);
}

#section-calculator>h2{
    padding: 1rem 0;
}

.water-well-calculator-container{
    font-size: 1.2rem;
}


.calculator-row{
    text-align: center;
    margin: 1rem 0;
}

.calculator-row:after{
    content: "";
    clear: both;
    display: table;
}

.calculator-column { 
    text-align: left;
    padding: 0.2rem;
}


#form-water-calculator input, #form-water-calculator select, #form-water-calculator option {
    border: none;
    font-size: 1.2rem;
    text-align: right;
    cursor: pointer; 
    width: 100%;
    border-radius: 0.5rem;
    font-family: 'Maven Pro', sans-serif;
    color: var(--main-2);
    background-color: var(--white);
    padding: 0.5rem;
}

#form-water-calculator option:hover, #form-water-calculator option:focus{
    color: var(--white);
    background-color: var(--blue);
}

#form-water-calculator input{
    font-family: 'Maven Pro', sans-serif;
    width: 3rem;
    padding-right: 1rem;
}

#form-water-calculator input:focus, #form-water-calculator select:focus{
    outline: none;
    box-shadow: 2px 2px 12px var(--blue);
}

#form-water-calculator input:focus{
    transition: 0.5s;
}

.water-supplier-location{
    font-size: 0.5rem;
}


#form-water-calculator button{
    font-size: 1.2rem;
    background-color: var(--main-1);
    color: var(--white);
    border: none;
    border-radius: 3rem;    
    padding: 1rem;
    font-weight: bold;
    box-shadow: 3px 3px 9px 2px var( --main-2);
    text-align: center;
    transition: 0.2s;
    margin: 1rem 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transition: 0.5s;
    opacity: 0.9;
}

#form-water-calculator button:hover{
    cursor: pointer;    
    transform: scale(1.05);
    text-shadow: 0px 0px 1px var(--white);
    opacity: 1;
}

#form-water-calculator button:focus{
    outline: none; 
}

#form-water-calculator button:active{
    transform: translate(2px, 2px);
    box-shadow: 0 0 3px 1px var(--main-2);
}

.modal-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: backgroundShowUp 0.5s;
    color: var(--main-2);
    padding: 3rem 0;
    overflow: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 80%;
    width: 80%;
    background-color: var(--white);
    margin: auto;
    padding: 0;
    border: 1px solid var(--main-2);
    box-shadow: 4px 4px 12px 1px rgba(0,0,0,0.4), 8px 8px 24px 2px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    animation: modalShowUp 1.5s;
}

.modal-header {      
    flex-direction: column;
    padding: 0.1rem 1rem;
    background-color: var(--main-1);
    color: var(--white);
    border-bottom: 3px solid var(--grey);
    text-shadow: 2px 2px 8px var(--main-2); 
}
  

.close-action {
    color: var(--white);
    float: right;
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    transition: 1s;
}

.close-action:hover{
    transform: scale(1.2);
    cursor: pointer; 
}
  
.modal-body{
    padding: 1rem;
    max-height: calc(70vh - 6rem);
    overflow-y: auto
}

.modal-body-small-font{
    font-size: 0.8rem;
}

.calculator-results-row{
    padding:0.5rem 0 ;
    width: 100%;
}

.calculator-results-key{
    display: inline-block;
}

.calculator-results-value{
    display: inline-block;
}

.modal-box-button-outer-div{
    display: inline-block;
    box-shadow: 4px 4px 8px 5px rgba(0,0,0,0.5);
    border-radius: 3rem;
    background-color: var(--blue);
    margin: 0.5rem;
    opacity: 0.9;
    transition: 0.5s;
    animation: modalButtonShowUp 5s;
}

.modal-box-button-outer-div a{
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.modal-box-button-outer-div:active{
    outline: none;
}

.modal-box-button-outer-div:hover{
    opacity: 1;
    transform: scale(1.05);
}

.modal-box-button-outer-div:active{
    transform: translate(2px, 2px);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
}

.modal-box-button-inner-div{    
    padding: 1rem;
    display: inline-block;
}


#section-contact{
    background-color: var(--main-1);
    text-align: center;
    min-height: 20vh;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-unit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 1rem;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 3px 3px 12px -3px var(--main-2);
    transition: 1s;
}

.contact-unit:hover{
    transform: scale(1.2);
}
.contact-unit i{    
    font-size: 1.5rem;
}

footer{
    background-color: var(--main-2);
    color: var(--grey);
    text-align: center;
    font-size: 1rem;
}
