:root{
    --main-1: #21D980;
    --main-2: #144237;
    --white: #FBFFFF;
    --grey: #D1E3E8;
    --blue: #57B3FF;
    
}

img{
    max-width: 100%;
}

body{
    padding:0;
    margin:0;
    font-family: 'Maven Pro', sans-serif;
    background-color: var(--white);
    color: var(--main-2);
}

section>h2{
    text-align: center;
}

header{
    display: sticky;   
    text-align: center;
    background-color: var(--main-1);
    color: var(--white);
}

#brand{
    font-size: 2rem;
    padding: 1rem;
    text-shadow: 3px 3px 6px var(--main-2); 
    font-family: 'Libre Baskerville', serif; 
}

#top-nav{
    background-color: var(--blue);
}

#top-nav ul{
    margin: 0;
}

#top-nav li{
    display: inline-block;
    padding: 0.5rem;
    text-shadow: 2px 2px 2px var(--main-2); 
}

#section-frontyard-pic{
    background-image: url("../assets/house2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 20rem;
}